h1 {
	color: #039BE5;
	font-family: 'Lora', serif;
	font-size: 40pt;
	margin: 5px 0;
}
ul {
	list-style: none;
	display: flex;
	background-color: #111;
	color: #eee;
	padding: 5px 15px;
	margin-top: 0;
}
li {
	padding: 10px 20px;
	font-size: 14pt;
	font-family: 'Merriweather', serif;
	letter-spacing: 5px;
}
a {
	text-decoration: none;
	color: #eee;
}
a:hover {
	background: #666;
	padding: -5px -5px;
}
p {
	color: #00796B;
	font-size: 20pt;
}
.content {
	display: flex;
    padding: 20px 40px;
    justify-content: flex-start;
    align-items: flex-start;
}
.my_photo {
	width: 300px;
	border: 1px solid #999;
	border-radius: 15px;
}
.intro {
	margin: 0 0 0 40px;
    padding-right: 40px;
}